<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SENG 474 Project</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.4.1.js')}}"></script>
    <body>
        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-4">
                <div class="header">
                    <h1 class="brand-title">SENG 474</h1>
                    <h2 class="brand-tagline">Data Mining Project</h2>

                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="btn" href="#">GitHub</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn" href="#">Documentation</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <div class="posts">
                    <section class="post">
                        <header class="post-header">
                            <h2 class="post-title">About</h2>
                        </header>
                        <div class="post-description">
                            <p>
                                Linear regression algorithm <br>
                                <b>Goal:</b> predict a country's life expectancy <br>
                                <b>Hypothesis:</b> given a set of all features F(n), there exists a subset of features F(m) that predict life expectancy to a high accuracy.
                            </p>
                            <div class="divider"></div>
                            <div class="container">
                                <div class="columns" style="padding-top: 1%">
                                    <div class="column col-3">
                                        <span>Life Expectancy by Country Data</span>
                                    </div>
                                    <div class="column col-1">
                                        <a href="https://apps.who.int/gho/data/node.main.688?lang=en" target="_blank">
                                            <button class="btn">Source</button>
                                        </a>
                                    </div>
                                    <div class="column col-1">
                                        <button class="btn">View Raw</button>
                                    </div>
                                </div>

                                <div class="columns" style="padding-top: 1%">
                                    <div class="column col-3">
                                        <span>Infant Mortality Rate Data</span>
                                    </div>
                                    <div class="column col-1">
                                        <a href="#" target="_blank">
                                            <button class="btn">Source</button>
                                        </a>
                                    </div>
                                    <div class="column col-1">
                                        <button class="btn">View Raw</button>
                                    </div>
                                </div>

                                <div class="columns" style="padding-top: 1%">
                                    <div class="column col-3">
                                        <span>Malaria Mortality Rate Data</span>
                                    </div>
                                    <div class="column col-1">
                                        <a href="#" target="_blank">
                                            <button class="btn">Source</button>
                                        </a>
                                    </div>
                                    <div class="column col-1">
                                        <button class="btn">View Raw</button>
                                    </div>
                                </div>

                                <div class="columns" style="padding-top: 1%">
                                    <div class="column col-3">
                                        <span>WASH Mortality Rate Data</span>
                                    </div>
                                    <div class="column col-1">
                                        <a href="https://apps.who.int/gho/data/view.main.SDGWSHBOD392v?lang=en\" target="_blank">
                                            <button class="btn">Source</button>
                                        </a>
                                    </div>
                                    <div class="column col-1">
                                        <button class="btn">View Raw</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="divider"></div>
                    <section class="post">
                        <header class="post-header">
                            <h2 class="post-title">Create Country</h2>
                        </header>
                        <div class="container">
                            <div class="columns">
                                <div class="column col-8">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-3 col-sm-12">
                                                <label class="form-label" for="country_name">Country Name</label>
                                            </div>
                                            <div class="col-7 col-sm-12">
                                                <input id="country_name" class="form-input" type="text" placeholder="Country Name">
                                            </div>
                                            <div class="col-1 col-sm-12"></div>
                                            <div class="col-1 col-sm-12">
                                                <div class="popover popover-right">
                                                    <a class="btn btn-primary" href="#">About</a>
                                                    <div class="popover-container">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <div class="card-title h5">Country Name</div>
                                                            </div>
                                                            <div class="card-body">Pick a name for your country, it can be whatever you want!</div>
                                                            <div class="card-footer"></div>
                                                        </div>
                                                  </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="col-3 col-sm-12">
                                                <label class="form-label" for="infant_mortality_rate">Infant Mortality Rate</label>
                                            </div>
                                            <div class="col-7 col-sm-12">
                                                <input class="slider tooltip tooltip-right" type="range" id="infant_mortality_rate" min="0" max="100" value="50" oninput="this.setAttribute('value', this.value);">
                                            </div>
                                            <div class="col-1 col-sm-12"></div>
                                            <div class="col-1 col-sm-12">
                                                <div class="popover popover-right">
                                                    <a class="btn btn-primary" href="#">About</a>
                                                    <div class="popover-container">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <div class="card-title h5">Infant Mortality Rate</div>
                                                            </div>
                                                            <div class="card-body">Infant mortality rate for your country.</div>
                                                            <div class="card-footer"></div>
                                                        </div>
                                                  </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="col-3 col-sm-12">
                                                <label class="form-label" for="malaria_mortality_rate">Malaria Mortality Rate</label>
                                            </div>
                                            <div class="col-7 col-sm-12">
                                                <input class="slider tooltip tooltip-right" type="range" id="malaria_mortality_rate" min="0" max="100" value="50" oninput="this.setAttribute('value', this.value);">
                                            </div>
                                            <div class="col-1 col-sm-12"></div>
                                            <div class="col-1 col-sm-12">
                                                <div class="popover popover-right">
                                                    <a class="btn btn-primary" href="#">About</a>
                                                    <div class="popover-container">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <div class="card-title h5">Malaria Mortality Rate</div>
                                                            </div>
                                                            <div class="card-body">Malaria mortality rate for your country.</div>
                                                            <div class="card-footer"></div>
                                                        </div>
                                                  </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="col-3 col-sm-12">
                                                <label class="form-label" for="wash_mortality_rate">WASH Mortality Rate</label>
                                            </div>
                                            <div class="col-7 col-sm-12">
                                                <input class="slider tooltip tooltip-right" type="range" id="wash_mortality_rate" min="0" max="100" value="50" oninput="this.setAttribute('value', this.value);">
                                            </div>
                                            <div class="col-1 col-sm-12"></div>
                                            <div class="col-1 col-sm-12">
                                                <div class="popover popover-right">
                                                    <a class="btn btn-primary" href="#">About</a>
                                                    <div class="popover-container">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <div class="card-title h5">WASH Mortality Rate</div>
                                                            </div>
                                                            <div class="card-body">Global Water, Sanitation, and Hygiene (WASH) mortality rate for your country.</div>
                                                            <div class="card-footer"></div>
                                                        </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button id="submit" class="btn btn-primary p-centered">Create Country</button>
                                    </form>

                                    <span>Life Expectancy: </span><span id="output"></span><div id="meter"></div>

                                    <table id="log" class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Country Name</th>
                                                <th>Life Expectancy (Years)</th>
                                                <th>Relative to Average (%)</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function(){

                // Random country name array
                const countries = ['Natish', 'Eastern Maarland', 'Tonianor', 'Dadwi', 'Irki', 'Genaire Stinebar',
                    'Seecan Ryniacook', 'Gerchristcroa', 'Republic of Tintiau', 'Ina', 'Northern Ito Landpasta',
                    'Tuca Isles', 'Runne Moma', 'Bermo Greendo', 'Lapitvirpalva', 'Isle of Riae Coko', 'Suslandsre',
                    'Niretui', 'Lyca Walporein', 'Thenganitedmomor', 'Theldogypt', 'Gigasumibul', 'Canldives Grecoca',
                    'Macos Quenianau', 'Central Toxem Ofnordesh', 'Francele Mary', 'Repu', 'Domland Frilau Republic',
                    'Mii Lands', 'Mua Norngo', 'United Southjan', 'Andczech', 'Letan', 'North Lklandco', 'Naguiingcu',
                    'Nonsland Viaguiru', 'Slandsi Ofcen Island', 'Cothe Siana', 'Andba Frenchslands', 'Umyher', 'Legin',
                    'Amebra', 'Geri Massada', 'Razue Lands', 'Thernstates', 'Myanseypados', 'Landstan Sintsloni',
                    'Tito Territories', 'Rupo Auchique', 'Sternmayotte Giumvina', 'Guaso', 'Serco', 'Soco Maau',
                    'Kittsten Guernntsercairn', 'United Decar Rasriki', 'Southlu Vaoutcoast', 'Belti Saintrusni',
                    'Vietslands Lianion', 'Blicbe', 'Laosye Guiriblic', 'Landdi Nitedman', 'Terla Tobyana',
                    'North Blicni', 'Nilombiablicguastan', 'Slonela', 'Northern Ntarcbo Nakhstan', 'Basope', 'Apu',
                    'Guayre', 'Martar Rusigui', 'Finnei Dunamo', 'Gharat Nuaba', 'Lasteinsa', 'Jebritish Isnti',
                    'Guamstan Lands', 'Caili Era', 'New Menmevo', 'Zstankia', 'Galcao', 'Pumau Coica', 'Lyri', 'Tazer',
                    'Diantic Kerastates', 'Ancro Beminew', 'Geslands Andzamki', 'Standor', 'Riturksnkababwe',
                    'Mofrench Gabesaint', 'Frenchof Saintluxi', 'Dorblic Engslandskeeling Territories',
                    'Haigylaneastria', 'Zilswibru', 'Northern Ngaroeli', 'Haratedsri', 'Igan', 'Reraqntinehong',
                    'Stoeblic', 'Riland', 'United Iu Abu', 'Senicra', 'Nachi Saunguilzim', 'Janis', 'Stinelands',
                    'Beva', 'Eo', 'Eastern Roonfaslewalespa', 'Stadi Inliahrain', 'Raki', 'Coye Dore', 'Voniani',
                    'Insland', 'Mishall Morswa', 'Dorblic Ingostan', 'Iofnew', 'Loupenia Ghaastan', 'Ribya Renti',
                    'Northmac Iue', 'Aandhe Land', 'Coblic Andand', 'Norsouth Sokongnew', 'Dinesnkalandriapu',
                    'Mikhstan Jaimark', 'Rida', 'Kaand Artu', 'Biaslandsmailu', 'Irus Siatozam', 'Britishkiaxemman',
                    'Strathern', 'Slandsde', 'Manbenited', 'South Denstansouthruna', 'Theco', 'Guagin Sainttarland',
                    'Beco Leve', 'Lislands Territories', 'Kiberza Land', 'Dofi', 'Danandine', 'Statesrethua', 'Lekyrre',
                    'Ugaslyki', 'Ganremac', 'Ratedsal', 'Zecia', 'Volandne', 'Gatarbia', 'Costa Donon Tazea',
                    'Bardcra Imaba', 'Titvia Stange', 'Rakraine Walmauno', 'Modisu', 'Maland', 'Ibo Evislo',
                    'Landthern Pierretzer', 'Virlauda', 'Brazi', 'Sialand', 'Nainntarc', 'Netic Pitstates',
                    'Sternluofia', 'Catral Magreece', 'Nakona', 'Nevia', 'Moarat', 'Virdad', 'Sniathai Souboura',
                    'Nionlau Iliagua', 'Uly Treaelblic', 'Maland Punin', 'Mihu Gianauna Land', 'South Quenea', 'Marnia',
                    'Frimi', 'Kepia Isona', 'Tusa', 'Ratesmoaco', 'Rialrocgua', 'Statesakucro', 'Andstonitedru Land',
                    'Ridian', 'Idorspain', 'Western Siermaii', 'Cole', 'Saupri Liasia', 'Papa Faly', 'Armosaori',
                    'Denu', 'Outchristslands', 'Blicla', 'Manor Vacumon', 'Central Svalcaqua', 'Care Nitednia', 'Pani',
                    'Goma', 'Trilom Daporeguya', 'Costa Nibacan', 'Zbesaint Raqblic', 'Central Aldivespuer', 'Randeba',
                    'Tiante'];

                // Insert random country into input
                document.getElementById('country_name').value = countries[Math.floor(Math.random() * countries.length)];

                // Catch button click event
                $("#submit").on('click', function(){

                    // Prevent default redirects
                    event.preventDefault();

                    // Place loading icon and empty meter
                    document.getElementById('output').outerHTML = '<div id="output" class="loading loading-lg"></div>';
                    document.getElementById('meter').outerHTML = '<div id="meter"></div>';

                    // Ajax call to prediction
                    $.ajax({
                        url: 'predict?' + $.param({
                            x: document.querySelector('#infant_mortality_rate').value,
                            y: document.querySelector('#malaria_mortality_rate').value,
                            z: document.querySelector('#wash_mortality_rate').value }),
                        type: 'POST',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        success: function (response) {

                            // Replace loading icon with response data
                            document.getElementById('output').outerHTML = '<span id="output">' + response + '</span>';
                            document.getElementById('meter').outerHTML = '<meter id="meter" class="meter" value="' + response +'" optimum="70" min="40" max="85" low="60" high="75"></meter>';

                            // Find average life expectancy
                            const average_expectancy = 65;  //TODO
                            const expectancy_diff = (response - average_expectancy) / average_expectancy * 100;

                            // Get a reference to the table
                            let tableRef = document.getElementById('log');

                            // Insert a new row at the top of the table
                            let newRow = tableRef.insertRow(1);

                            // Insert cells into the new row
                            let nameCell = newRow.insertCell(0);
                            let valueCell = newRow.insertCell(1);
                            let relativeCell = newRow.insertCell(2);

                            // Append to cells
                            nameCell.appendChild(document.createTextNode(document.querySelector('#country_name').value));
                            valueCell.appendChild(document.createTextNode(response));
                            relativeCell.appendChild(document.createTextNode(expectancy_diff.toFixed(3) + '%'));

                             // Insert random country into input
                            document.getElementById('country_name').value = countries[Math.floor(Math.random() * countries.length)];
                        },
                        error: function() {
                            document.getElementById('output').outerHTML = '<span>There was an error!</span>';
                        }
                    });
                });
            });
        </script>
    </body>
</html>
