<html>
    <head>
        <title>SENG474 Project</title>
    </head>
    <body>
        <h1>
            SENG 474 - Data Mining Project
        </h1>
        <h2>
            Country Life Expectancy Predictor (CLEP)
        </h2>
        <p>
            Linear regression algorithm <br>
            Goal: predict a country's life expectancy <br>
            Hypothesis: given a set of all features Fn, there exsits a subset of features Fm that predict life expectancy to a high accuracy
        </p>

        <h3>
            Authors
        </h3>
        <p>
            Matt S. <br>
            Lehel k.
        </p>
    </body>
</html>